.btn {
  min-width: 40px;
  height: 40px;
  border-radius: 6px;
  user-select: none;
  padding-left: 20px;
  padding-right: 20px;

  &__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    transform: translateY(-3px);
  }
  &:active {
    transform: translateY(0px);
  }

  &__color {
    &_primary {
      background-color: blue;
      color: white;

      &:hover {
        background-color: #0101d7;
      }
    }

    &_success {
      background-color: green;
      color: white;

      &:hover {
        background-color: #016501;
      }
    }

    &_danger {
      background-color: red;
      color: white;

      &:hover {
        background-color: #bd0404;
      }
    }

    &_warning {
      background-color: orange;
      color: white;

      &:hover {
        background-color: #a86d02;
      }
    }

    &_secondary {
      background-color: gray;
      color: white;

      &:hover {
        background-color: #696767;
      }
    }
  }
}