.form {
  &__group {

  }

  &__box {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  &__label {
    margin-top: 10px;
  }

  &__input {
    outline: none;
    border: 1px solid #696767;
    background-color: white;
    border-radius: 4px;
    padding: 8px 16px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 16px;

    &:focus {
      outline: 1px solid green;
    }
  }

  &__error {
    color: red;
  }
}