.container {
    max-width: 1000px;
    margin: 0 auto;
}

ul, li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
     border: none;
     margin: 0;
     padding: 0;
     width: auto;
     overflow: visible;

     background: transparent;

     /* inherit font & color from ancestor */
     color: inherit;
     font: inherit;

     /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
     line-height: normal;

     /* Corrects font smoothing for webkit */
     -webkit-font-smoothing: inherit;
     -moz-osx-font-smoothing: inherit;

     /* Corrects inability to style clickable `input` types in iOS */
     -webkit-appearance: none;
    cursor: pointer;
 }

/* Remove excess padding and border in Firefox 4+ */
button::-moz-focus-inner {
     border: 0;
     padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.mr-10 {
  margin-right: 10px;
}

.mt-10 {
  margin-top: 10px;
}