.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  &-active {
    display: block;
  }

  &__close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &__content {
    position: fixed;
    background: white;
    width: 300px;
    height: auto;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-20%);
    border-radius: 8px;
    padding: 20px;

    &_sm { width: 400px }

    &_md { width: 600px }

    &_lg { width: 800px }
  }

  &__header {
    position: relative;
  }

  &__body {
    padding: 30px 0;
  }

  &__footer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
}
