.pagination {
    margin-top: 20px;

    &__list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__item {
        padding: 5px;

        button {
            width: 32px;
            height: 32px;
            border-radius: 4px;
            border: 1px solid gray;
            user-select: none;
        }

        &_active {
          button {
              border: 1px solid green;
              color: green;
          }
        }
    }

    &__next-button, &__prev-button {
        width: 32px;
        height: 32px;
        user-select: none;

        img {
            width: 100%;
            height: 100%;
        }
    }
}
