.users {
    margin-top: 20px;

    &__table {
        width: 100%;
        border-collapse: collapse;

        &_row {
            &-active {
                background-color: #ccc;
            }
        }

        &_col {
            border: 1px solid;
            padding: 10px;
        }
    }

    &__btns {
        display: flex;
        justify-content: space-evenly;
    }

    &__btn {
        img {
            width: 24px;
            height: 24px;
        }
    }

    &__add-btn {
        margin: 10px 0;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
    }
}



